@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Big+Shoulders+Stencil+Text:wght@700&display=swap');

:root{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  --primary: #eeeeee;
  --secondary: #F05454;
  --tertiary: #30475E;
  --text: #1D242B;
  --border: #160F30;
  --border-inner: #160f3069;
  --border-ship:#00f;
  --bg-ship:rgba(0,0,255,.05);
  --border-ship-hit:rgb(219, 56, 56);
  --bg-ship-hit:rgba(219, 56, 56, .05);
  --border-ship-selected:rgb(17, 235, 71);
  --bg-ship-selected:rgba(0, 255, 64, .05);
  --dialog-bg: #00000050;
}

body{
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--primary);
  color: var(--text);
}

h1{
  font-family: 'Big Shoulders Stencil Text', cursive;
  text-align: center;
  font-size: 6rem;  
}

h2{
  font-weight: 500;
  font-size: 2rem;
  margin: 0px;
}

main{
  margin: 60px 0;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.board{
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 50px;
  border: 3px var(--border) solid;
  position: relative;
}

.board__tile {
  border-right: 1px var(--border-inner) solid;
  border-bottom: 1px var(--border-inner) solid;
}

.board__tile:nth-child(10n){
  border-right: none;
}

.board__tile:nth-child(n + 91){
  border-bottom: none;
}

.ship {
  background-color: var(--bg-ship);
  border: 3px solid var(--border-ship);
  z-index: 0;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 49px;
  height: 49px;
}

.ship .hit{
  background-color: var(--bg-ship-hit);
  border: 3px solid var(--border-ship-hit);
}

.ship .selected{
  background-color: var(--bg-ship-selected);
  border: 3px solid var(--border-ship-selected);
}

/* Dialog window */

.dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dialog-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-window{
  background-color: var(--primary);
  padding: 1.25rem;
  text-align: center;
}

.dialog-window h3{
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.game-setup{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ship-selection-option{
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.ship-selection-option p{
  font-size: 1.25rem;
  margin: 0;
}

.ship-selection-option div {
  width: calc(50px * var(--size));
  height: 50px;
  background-color: var(--bg-ship);
  border: 3px solid var(--border-ship);
  cursor: pointer;
}